attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
comet-ml==3.13.1
configobj==5.0.6
dulwich==0.20.24
everett==1.0.3
idna==3.2
joblib==1.0.1
jsonschema==3.2.0
numpy==1.21.1
nvidia-ml-py3==7.352.0
pkg-resources==0.0.0
pyrsistent==0.18.0
requests==2.26.0
requests-toolbelt==0.9.1
scikit-learn==0.24.2
scipy==1.7.0
semantic-version==2.8.5
six==1.16.0
threadpoolctl==2.2.0
urllib3==1.26.6
websocket-client==1.1.0
wrapt==1.12.1
wurlitzer==2.1.1
